[submodule "blog/themes/LoveIt"]
	path = blog/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "blog/themes/hugo-clarity"]
	path = blog/themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
